.button {
  background: rgba(80, 80, 80, 255);
  border: 0px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  color: #cccccc;
  font-family: 'Roboto Mono', monospace;
}

.select{
  background: rgba(200, 200, 200, 255);
  font-family: 'Roboto Mono', monospace;
  padding: 3px 10px 3px 10px;
}